.chat_input_box {
    display: flex;
    flex-direction: row;
    width: calc(610px + 89px);
    overflow: auto;
    border-radius: 10px;
    border: #333 solid 1px;
    align-items: center;
}
.chat_input {
    width: 570px;
    outline: none;
    resize: none;
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    border: #333 solid 0px;

}
.chat_submit_button {
    background-color: #ccc;
    border: #333 solid 0px;
    width: 89px;
    height: 40px;
}
