.chat_list {
    display: flex;
    flex-direction: column;
    width: 700px;
    height: 276px;
    margin: 10px;
    border-radius: 10px;
    border: #777 solid 1px;
    box-sizing: border-box;
    overflow-y: auto;
}