.chat_input_box {
    display: flex;
    flex-direction: row;
    width: 700px;
    height: calc(40px);
    overflow: auto;
    border-radius: 10px;
    border: #333 solid 1px;
    box-sizing: border-box;
    align-items: center;
}
.chat_input {
    width: calc(610px - 40px);
    outline: none;
    resize: none;
    height: 38px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    border: #333 solid 0px;

}
.chat_submit_button {
    background-color: #d9d9d9;
    border: #333 solid 0px;
    width: 90px;
    height: 40px;
}
