.chat_header {
    display: flex;
    align-items: center;
    margin: 4px;
    width: 690px;
}
.chat_logo {
    width: 36px;
    height: 36px;
    margin-right: 5px;
}
.chat_title {
    font-size: 22px;
    font-weight: 300;
}