.room_header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    margin-top: 63px;
    width: 1280px;
    height: 65px;
    background-color: white;
    box-sizing: border-box;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.room_header_left {
    display: flex;
    align-items: center;
}
.room_header_right {
    display: flex;
    align-items: center;
}
.back_button {
    width: 13.5px;
    height: 26px;
    padding-left: 24px;
    padding-right: 24px;
}
.leave_button {
    width: 26px;
    height: 26px;
    padding-right: 24px;
}
.location_box {
    display: flex;
    align-items: center;
    padding-right: 41px;
}
.location_icon {
    width: 13px;
    height: 19px;
}
.location_address {
    font-size: 16px;
    color: #595959;
    margin-bottom: 3px;
}
.room_name {
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 3px;
}
.room_status {
    color: #666666;
    font-size: 20px;
    margin-left: 10px;
}