.room_menu_box {
    width: 522px;
    height: 828px;
    margin: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}
.room_menu_header {
    display: flex;
    flex-direction: row;
    width: calc(522px - 27px);
    height: 30px;
    margin-left: 27px;
    margin-top: 22px;
    align-items: center;
}
.room_menu_icon {
    width: 30px;
    height: 30px;
}
.room_menu_title {
    font-size: 24px;
    font-weight: 400;
    margin-left: 10px;
}
.room_menus {
    width: calc(522px - 20px);
    height: calc(828px - 300px);
    border-radius: 10px;
}
.total_price_box {
    width: calc(522px - 80px);
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.total_price_title,.total_price_value {
    font-size: 24px;
    font-weight: 350;
}
.total_price_value {
    float: right;
}
.room_menu_order_button_disabled,.room_menu_order_button {
    width: 500px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}
.room_menu_button_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(522px - 20px);
    margin: 10px;
}
.room_menu_order_button,.room_menu_order_button_disabled {
    background-color: #d9d9d9;
    color: black;
    border: #333 solid 0px;
}