.user_profile_box,.user_profile_box_top,.user_profile_box_bottom {
    display: flex;
    align-items: center;
    height: 59px;
    padding: 10px;
}
.user_profile_box_top {
    padding-top: 0px;
}
.user_profile_box_bottom {
    padding-bottom: 0px;
}
.user_profile_image {
    width: 59px;
    height: 59px;
    border-radius: 9999px;
    background-color: #f0f0f0;
}
.user_profile_status_box {
    width: 616px;
    padding-left: 19px;
    padding-right: 20px;
}

.user_profile_nickname {
    font-size: 20px;
}
.user_profile_status,.user_profile_status_pending,.user_profile_status_recieved,.user_profile_status_ready {
    font-size: 16px;
    float: right;
}
.user_profile_status_pending {
    color: #7B7A7A;
}
.user_profile_status_recieved {
    color: #FF9FAC;
}
.user_profile_status_ready {
    color: #00AE00;
}