.user_profile_box,.user_profile_box_top,.user_profile_box_bottom {
    display: flex;
    align-items: center;
    height: 59px;
    padding: 10px;
}
.user_profile_left_box {
    display: flex;
    align-items: center;
}
.end_recruit_button,.order_button,.leader_mark,.pick_up_button,.room_end_button {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 10px;
    font-size: 14px;
    background-color: white;
    box-sizing: border-box;
    border: #FF6B6B solid 1px;
    border-radius: 9999px;
    color: #FF6B6B;
}
.end_recruit_button:hover,.order_button:hover,.leader_mark:hover,.pick_up_button:hover,.room_end_button:hover {
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-left: 10px;
    font-size: 14px;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 9999px;
    background-color: #FF6B6B;
    color: white;
}
.leader_mark {
    border: #000 solid 1px;
    color: #000;
}
.user_profile_box_top {
    padding-top: 0px;
}
.user_profile_box_bottom {
    padding-bottom: 0px;
}
.user_profile_image {
    width: 59px;
    height: 59px;
    border-radius: 9999px;
    background-color: #f0f0f0;
}
.user_profile_status_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 616px;
    height: calc(59px + 20px);
    margin-left: 19px;
    margin-right: 20px;
    border-bottom: solid 1px #ddd;
}

.user_profile_nickname {
    font-size: 20px;
}
.user_profile_status,.user_profile_status_pending,.user_profile_status_recieved,.user_profile_status_ready {
    font-size: 16px;
    float: right;
}
.user_profile_status_pending {
    color: #7B7A7A;
}
.user_profile_status_pending::after {
    content: "...";
}
.user_profile_status_received {
    color: #1A00FF;
}
.user_profile_status_ready {
    color: #00AE00;
}
.user_profile_status_ready::after {
    content: url("https://epfwvrafnhdgvyfcrhbo.supabase.co/storage/v1/object/public/imgfile/main_img/order_status_ready_check.png");
    width: 14.84px;
    height: 10.58px;
    padding-left: 2px;
}