.outer_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    margin: 80px;
    padding: 80px;
    
}
.resetpw_body_container{
    justify-content: center;
    border-radius: 10px;
    background-color: white;
    width: 500px;
    height: 500px;   
}
.form_container{
    align-items: center;
    text-align: center;
    padding: 40px;
    height: 300px;
}
.form_container h2{
    font-size: 30px;
}
.form_container p{
    font-size: 20px;
}
.form_container input{
    width: 300px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #333;
    font-size: 18px;
}
.form_container button{
    width: 300px;
    height: 45px;
    margin-top: 20px;
    background-color: #ffb1b1;
    border: none;
    border-radius: 10px;
    font-size: 18px;
}
.email_send_button{
    color: white;
}