a {
    text-decoration: none;
    color: inherit;
}
html, main {
    height: 100%;
    position: relative;
}

.search_header {
    background-color: #FF6B6B;
    width: 100vw;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search_box {
    display: flex;
    position: relative;
    width: fit-content;
    margin: 30px 0;
    flex-direction: column;
    align-items: center;
}

.search_text {
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.search {
    display: flex;
    gap: 0;
    margin-top: 30px;
}

.search_value,
.search_btn {
    box-sizing: border-box;
    vertical-align: top;
    font-size: 16px;
    line-height: 1;
}

.search_value {
    width: 518px;
    height: 53px;
    border: 0px;
    border-radius: 10px 0px 0px 10px;
    padding-left: 20px;
}

.search_value::placeholder {
    color: gray;
    font-size: 16px;
}

.search_btn {
    background-color: #1A535C;
    color: white;
    width: 75px;
    height: 53px;
    border: 0px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}

.main_container {
    width: 1280px;
    display: flex;
    position: relative;
}

.main_header {
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: center;

}

.body_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.body_container {
    width: 1280px;
    padding: 80px 20px 0 20px;
    box-sizing: border-box;
}

.food_category_wrap {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;

}

.food_category {
    font-size: 32px;
    font-weight: 700;
}

.food_category_move {
    color: #FF6B6B;
    cursor: pointer;
}

.circle_category_wrap {
    display: flex;
    padding: 20px 30px;
    gap: 30px 80px;
    width: 1240px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.circle_with_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    transition: transform 0.2s;
}
.circle_with_text:hover{
    transform: translateY(-5px);
}

.circle {
    width: 100px;
    height: 100px;
    background-color: white;
    border-radius: 50%;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.circle_text {
    margin-top: 8px;
    text-align: center;
    font-size: 20px;
}

.gongu_wrap {
    justify-content: space-between;
    display: flex;
    align-items: center;
    width: 100%;
    padding-top: 80px;
}

.gongu_list {
    font-size: 32px;
    font-weight: 700;
}

.gongu_list_move {
    color: #FF6B6B;
    cursor: pointer;
}

.gongu_list_wrap {
    display: flex;
    padding: 20px 0 100px 0;
    gap: 60px;
    width: 1240px;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.no_room_message{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    height: 295px;
    background-color: rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 24px;
    font-weight: 500;
}

.gongu_with_text {
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
    /* box-shadow: 0 4px 12px rgba(0,0,0,0.05); */
    border-radius: 10px;
    transition: transform 0.2s;
}

.gongu_with_text:hover {
    transform: translateY(-5px);
}

.square_img {
    width: 373px;
    height: 160px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center 80%;
    display: block;
}

.square {
    width: 373px;
    height: 135px;
    border-radius: 0 0 10px 10px;
    background-color: white;
    padding: 15px 19px;
    box-sizing: border-box;
    margin: 0;
}

.gongu_date {
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 14px;
    padding-inline-start: 0;
    color: #666666;
    font-weight: 700;
    margin-bottom: 15px;
    margin: 8px 0 0 0;
    padding: 0;
}

.gongu_date li {
    white-space: nowrap;
    margin: 0;
}

.gongu_title {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}

.gongu_progress {
    width: 100%;
    height: 9px;
    appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    border: none;
}

.gongu_progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
}

.gongu_progress::-webkit-progress-value {
    background-color: #FFB1B1;
    border-radius: 10px;
}
.gongu_bottom{
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.gongu_people {
    margin-left: 5px;
    color: #1A535C;
    font-size: 14px;
}
.gongu_delivery{
    font-size: 14px;
    color: #333333;
}

.body_bottom{
    background-color: #F0F6FF;
    height: 360px;
    margin-bottom: 80px;
}
.body_bottom_container{
    width: 1280px;
    position: relative;
    margin: 0 auto;
    padding: 50px 20px;
    box-sizing: border-box;
}

.popular_text{
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 20px;
}
.popular_list_wrap{
    display: flex;
    gap: 40px;
}
.popular_img{
    width: 216px;
    height: 120px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center;
    display: block;
}
.popular_with_text{
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    transition: transform 0.2s;
}
.popular_with_text:hover {
    transform: translateY(-5px);
}

.popular_square{
    width: 216px;
    height: 72px;
    border-radius: 0 0 10px 10px;
    background-color: white;
    padding: 12px 12px;
    box-sizing: border-box;
    margin: 0;
}
.popular_title{
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 5px;
}
.popular_detail{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular_star{
    color: rgb(255, 217, 0);
    font-size: 13px;
}
.popular_detail_text{
    font-size: 13px;
    color: #666666;
}
main {
    flex-grow: 1;
}