.main_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_container {
    width: 1280px;
    padding: 80px 20px;
    box-sizing: border-box;
}
.search_keyword{
    font-size: 28px;
    font-weight: 700;
    margin-top: 20px;
}
.search_category{
    list-style: none;
    padding-inline-start: 0;
    font-size: 20px;
    display: flex;
    font-size: 28px;
    justify-content: center;
    
}
.search_category li{
    white-space: nowrap;
    border-bottom: 1px solid black;
    transition: box-shadow 0.2s ease;
    padding: 10px;
    cursor: pointer;
}
.search_category li:hover{
    box-shadow: inset 0 -4px 0 black;
}
.active_tab{
    box-shadow: inset 0 -4px 0 black;
}

.search_hitory_box{
    border-radius: 10px;
    background-color: white;
    width: 100%;
    box-sizing: border-box;
    height: auto;
    padding: 40px;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
    margin: 20px 0;
}
.search_bang{
    margin-top: 20px;
}
.search_box{
    width: 100%;
    box-sizing: border-box;
    width: 100%;
    height: 300px;
    border-radius: 10px;
    background-color: #F9F9F9;
}
.search_noResult{
    width: 100%;
    height: 200px;
    background-color: #F9F9F9;
    border-radius: 10px;
    font-size: 18px;
    margin: 5px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    margin: 20px 0;
}
.search_result{
    display: flex;
    gap: 20px;
    margin: 20px 0;
}
.search_store_img{
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-sizing: border-box;
    object-fit: cover;
}
.search_store_detail{
    width:840px;
    height: 200px;
    display: flex;
    align-items: center;
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;
}
.search_ul{
    list-style:none;
    padding-inline-start: 0;
    display: flex;
    gap: 10px;
    align-items: center;
}
.search_ul li{
    white-space: nowrap;
    font-size: 18px;
    line-height: 20px
}
.star{
    color: rgb(255, 217, 0);;
    font-size:20px;
}
.score{
    align-items: center;
}
.search_store_name{
    font-size: 24px;
    font-weight: bold;
}
.search_delivery{
    color: blue;
    font-size: 18px;
    font-weight: 500;
}
.search_menu_name{
    font-size: 18px;
    margin: 10px 0;
    font-weight: 500;
}
.search_menu_price{
    font-size: 18px;
}
.search_status{
    font-size: 18px;
    color: red;
}
.more{
    display: flex;
    justify-content: center;
}
.more button{
    width: 300px;
    height: 35px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid #FF6B6B;
    color: #FF6B6B;
    font-size: 18px;
}
.more button:hover{
    background-color: #FF6B6B;
    color: white;
}