
.main_box {
    width: 100%;
    display: flex;
    justify-content: center;
}

.main_container {
    width: 1280px;
    padding: 80px 20px 0 20px;
    box-sizing: border-box;
}
.square_img {
    width: 1240px;
    height: 500px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center 90%;
    display: block;
}
