.container {
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 30px;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header i {
    font-size: 60px;
    color: #FF6B6B;
    margin-bottom: 15px;
}

.header h1 {
    margin: 0;
    color: #333;
}


.title {
    color: #333;
    font-size: 24px;
    margin-bottom: 15px;
}

.description {
    color: #666;
    margin-bottom: 20px;
}

.orderInfo {
    background-color: #fffbe6;
    border-radius: 10px;
    padding: 15px;
    margin: 20px 0;
    text-align: left;
}

.infoRow {
    display: flex;
    margin-bottom: 10px;
}

.infoLabel {
    font-weight: bold;
    color: #666;
    width: 100px;
}

.infoValue {
    color: #333;
    flex: 1;
}
.notice {
    margin-top: 20px;
    padding: 15px;
    background-color: #fff8e1;
    border-radius: 8px;
    font-size: 14px;
    color: #666;
}
.button {
    background-color: #FFB1B1;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    width: 45%;
    margin-top: 20px;
    transition: background-color 0.3s;
     margin-right: 10px;
    
}

.button:hover {
    background-color: #FF6B6B;
}

.buttonSecondary {
    background-color: #f0f0f0;
    color: #333;
}

.buttonSecondary:hover {
    background-color: #e0e0e0;
}
.itemCard {
  background-color: #fde1b3;
  border-radius: 10px;
  padding: 12px 16px;
  margin-bottom: 16px;
  box-shadow: 0 1px 4px rgba(0,0,0,0.05);
}

/* 반응형 디자인 */
@media (max-width: 480px) {
    .container {
        width: 90%;
        padding: 20px;
    }
    
    .checkmark {
        font-size: 50px;
    }
    
    .title {
        font-size: 20px;
    }
}