.main{
    width: 1280px;
    display: flex;
    justify-content: center;
}
.hamburger_nav {
    position: absolute;
    top: 115px;
    right: calc((100vw - 1280px) / 2 );
    width: 434px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    padding: 30px 45px;
    z-index: 1000;
    overflow-y: auto;
}

.mypage_icon {
    width: 21px;
    height: auto;
}

.mypage {
    margin-top: 5px;
    display: flex;
}

.mypage_text {
    margin-left: 10px;
    font-size: 16px;

}

.userName {
    font-size: 24px;
    text-align: left;
}

.userName_btn {
    border: 2px solid #FF6B6B;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin: 3px 10px;
    height: 32px;
    cursor: pointer;
}

#user_notlogin {
    font-size: 24px;
    text-align: left;
    margin-top: 40px;
}
.user_box{
    display: flex;
}
.user_coin {
    display: flex;
    margin: 40px 0 30px 0;
    justify-content: space-between;
}
.coin_box{
    display: flex;
    align-items: center;
    gap: 8px;
}
.coin_imo {
    width: auto;
    height: 38px;
    margin-left: auto;
}

.coin_confirm {
    font-size: 20px;
}

.event_banner1 {
    margin-top: 40px;
}

.event_banner2 {
    margin-top: 15px;
}

.gongu_progress {
    width: 100%;
    height: 20px;
    appearance: none;
    -webkit-appearance: none;
    overflow: hidden;
    border: none;
    margin-bottom: 20px;
    background-color: #eee;
}

.gongu_progress::-webkit-progress-bar {
    background-color: #eee;
    width: 100%;
}

.gongu_progress::-webkit-progress-value {
    background-color: #FF6B6B;
}
.gongu_progress::-moz-progress-bar {
    background-color: #FF6B6B;
}

.chat_list {
    margin-top: 30px;
}

.chat_list_title {
    font-size: 20px;
    margin-bottom: 30px;
}

.chat_list_room {
    display: flex;
    margin-top: 20px;
    cursor: pointer;
}

.chat_list_circle {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center 80%;
    display: block;
}

.chat_room_detail {
    display: flex;
}

.chat_room {
    margin-left: 15px;
    align-items: center;
    padding: 16px 0;
    width: 100%;
}

.chat_title {
    font-size: 18px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70%;
}

.chat_people {
    margin-left: 5px;
    margin-right: 10px;
    color: #1A535C;
    font-size: 14px;
}

.chat_state {
    color: red;
    font-size: 14px;
}

.chat_title_time {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 320px;
}

.chat_time {
    font-size: 16px;
    color: #7B7A7A;
}
.score_box{
    display: flex;
    gap: 10px;
    margin-bottom: 5px;
    align-items: center;
}
.score_text{
    font-size: 16px;
    background-color: #6a7eff;
    color: white;
    border-radius: 10px;
    padding: 3px 6px;
    margin-left: auto;
}
.score_img{
    width: 30px;
    height: auto;
}