.hamburger_nav {
    position: absolute;
    top: 115px;
    right: 0;
    width: 434px;
    height: 100vh;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    z-index: 1000;
    padding: 30px 45px;
}

.mypage_icon {
    width: 21px;
    height: auto;
}

.mypage {
    margin-top: 5px;
    display: flex;
}

.mypage_text {
    margin-left: 10px;
    font-size: 16px;

}

.userName {
    font-size: 24px;
    text-align: left;
}

.userName_btn {
    border: 2px solid #FF6B6B;
    background-color: white;
    border-radius: 10px;
    color: black;
    margin: 3px 10px;
    height: 32px;
    cursor: pointer;
}

#user_notlogin {
    font-size: 24px;
    text-align: left;
    margin-top: 40px;
}

.user_coin {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
}

.coin_imo {
    width: auto;
    height: 31.67px;
    margin-top: 4px;
    margin-left: auto;
}

.coin_confirm {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 12px;

}

.event_banner1 {
    margin-top: 50px;
}

.event_banner2 {
    margin-top: 15px;
}