a {
    cursor: pointer;
}

.hLogo_img:hover {
    opacity: 0.9;
    cursor: pointer;
}

.header {
    background-color: #FF6B6B;
    width: 100%;
    height: 115px;
    display: flex;
    justify-content: center;

}

.container {
    width: 1280px;
    display: flex;
    position: relative;
    align-items: center;
}

.hLogo_img {
    padding: 16.5px 20px;
}

.search {
    display: flex;
    padding: 31px 50px 31px 111px;
    gap: 0;
}

.search_value,
.search_btn {
    box-sizing: border-box;
    vertical-align: top;
    font-size: 16px;
    line-height: 1;
}

.search_value {
    width: 450px;
    height: 53px;
    border: 0px;
    border-radius: 10px 0px 0px 10px;
    padding: 18px 0 18px 20px;
}

.search_value::placeholder {
    color: gray;
    font-size: 16px;
    margin: 10px 0;
}


.search_btn {
    background-color: #1A535C;
    color: white;
    width: 72.35px;
    height: 53px;
    border: 0px;
    border-radius: 0px 10px 10px 0px;
    cursor: pointer;
}
.location {
    display: flex;
    margin: 48px 20px;
}

.location_btn,
.location_gps {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    font-size: 16px;
    width: 200px;
    height: 20px;
}
.location_icon{
    width: 13px;
    height: auto;
}

.location_btn {
    all: unset;
    margin-top: 3px;
    margin-right: 8px;
    cursor: pointer;
}

.location_gps {
    margin-top: -2px;
    cursor: pointer;
}
.location_login{
    font-size: 18px;
    margin-right: 15px;
}
.hamburger {
    position: absolute;
    padding: 25px 20px;
    right: 0;
}

.hamburger_btn {
    all: unset;
    cursor: pointer;
}
.modalStyle {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: bisque;
}
.modal_btn {
    padding: 10px 20px;
    border: 1px solid #FF6B6B;
    border-radius: 4px;
    background-color: white;
    color: #FF6B6B;
    cursor: pointer;
    font-size: 14px;
    margin: 0px 5px;
    box-sizing: border-box;
}
.modal_btn:hover {
    background-color: #FF6B6B;
    color: white;
}

.modal_map {
    width: 100%;
    height: 400px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f5f5f5;
}

.address_not{
    width:100%;
    border: 1px solid #ddd;
    border-radius: 4px;
    height: 30px;
    font-size: 16px;
    box-sizing: border-box;
}

.popupStyle {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 90%;
    max-width: 500px;
}
.label_box {
    font-size: 18px;
    color: #999;
    margin-top: 15px;
}
.input_box{
    height: 50px;
    margin-top: 5px;
}
.label_box_detail{
    font-size: 18px;
    color: #999;
    margin-top: 5px;
}
