.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 82px;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  margin-bottom: 24px;
}

.userList {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.userBox {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
}

.nickname {
  font-weight: 600;
  margin-bottom: 8px;
  text-align: center;
}

.stars {
  display: flex;
  justify-content: center;
  gap: 8px;
  font-size: 20px;
  cursor: pointer;
}

.activeStar {
  color: gold;
}

.inactiveStar {
  color: #ddd;
}

.submitBtn {
  margin-top: 32px;
  width: 100%;
  padding: 12px;
  background-color: #FFB1B1;
  color: black;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
}

