.AllRoomPage {
    width: 1280px;
    padding: 0 20px;
    margin: 0px 400px 0px 400px;
}

.roomContainer {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.roomList {
    border: solid 1px black;
    border-radius: 11px;
    margin: 5px 5px 10px 5px;
    width: 390px;
    height: 150px;
}

.roomTitle {
    text-align: end;
    margin-right: 15px;
    margin-top: 0px;
    font-weight: bold;
    font-size: large;
}

.roomAddress {
    text-align: end;
    margin-right: 15px;
    font-weight: 600px;
}
.roomDistance {
    text-align: end;
    margin-right: 15px;
    font-size: medium;
    font-weight: 600px;
}

.AllRoomBody {
    display: flex;
    width: 1400px;
    margin: 10px 200px 10px 200px;
    height: 620px;
    border: 1px solid;
}

.rooms {
    overflow: auto;
}