.main_body{
    width: 100%;
    display: flex;
    justify-content: center;
}
.main_container{
    margin: 80px 20px;
    width: 1280px;
    box-sizing: border-box;
}
.AllRoomhead{
    width: 1240px;
    height: 65px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    margin-bottom: 20px;
    font-size: 24px;
    display: flex;
    align-items: center;
    padding: 0 40px;
}

.AllRoomBody {
    display: flex;
    width: 1240px;
    height: 640px;
    box-sizing: border-box;
    padding: 20px 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 4px 6px 2px rgba(0, 0, 0, 0.2);
}

.rooms {
    width: 400px;
    box-sizing: border-box;
    overflow-y: auto;
    padding-right: 20px;
}
.room_no_result{
    width: 390px;
    height: 600px;
    background-color: #F7F7F7;
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}
.roomMap{
    width: 800px;
    box-sizing: border-box;
}
.roomList {
    border-radius: 10px;
    width: 380px;
    height: 150px;
    overflow: hidden;
    display: flex;
    margin-bottom: 20px;
}
.roomWithText{
    position: relative;
    height: 150px;
    width: 380px;
}
.roomTitle {
    text-align: end;
    margin-right: 15px;
    font-weight: bold;
    font-size: large;
    opacity: 100%;
}
.roomDetail{
    width: 380px;
    height: 50px;
    background-color: white;
    opacity: 80%;
    bottom: 0;
    position: absolute;
}
.roomAddress {
    text-align: end;
    margin-right: 15px;
    font-weight: 600px;
    opacity: 100%;
}
.roomDistance {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
    font-size: medium;
    font-weight: 600px;
    opacity: 100%;
}



.roomListImg {
    width: 390px;
    height: 100px;
    border-radius: 10px 10px 0 0;
    object-fit: cover;
    object-position: center 80%;
    display: block;
    box-sizing: border-box;
}