.room_name {
    font-size: 1.5em;
    font-weight: 700;
}
.room_address {
    font-size: 0.8em;
    color: gray;
}
.room_user_count {
    font-size: 0.8em;
    float: right;
    color: gray;
}
.room_store {
    font-size: 1em;
    font-weight: 700;
}
.room_leader {
    font-size: 0.8em;
    font-weight: 700;
}
.room_card {
    width: 25%;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: bisque;
    padding: 10px;
}
.date {
    color: gray;
    font-size: 0.8em;
    float: right;
}