.room_menus {
    width: 522px;
    height: calc(828px - 300px);
    margin: 10px;
    border-radius: 10px;
}
.total_price_box {
    width: 522px;
    margin: 20px;
}
.total_price_title,.total_price_value {
    font-size: 24px;
    font-weight: 350;
}
.total_price_value {
    float: right;
}
.room_menu_order_button_disabled,.room_menu_order_button {
    width: 500px;
    height: 50px;
    margin: 20px;
    border-radius: 10px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;

}
.room_menu_button_box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 522px;
    margin: 10px;
}
.room_menu_order_button,.room_menu_order_button_disabled {
    background-color: #f0f0f0;
    color: black;
    border: #333 solid 0px;
}