.user_box {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    margin-bottom: 0.5rem;
}
.user_nickname {
    font-size: 1em;
    color: #333;
    margin-left: 0.5rem;
    float: left;
}
.user_status_ready {
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    background-color: green;
    float: right;
}
.user_status_not_ready {
    height: 1rem;
    width: 1rem;
    border-radius: 9999px;
    background-color: red;
    float: right;
}
.user_menus {
    display: flex;
    flex-direction: row;
    margin-left: 1rem;
}