.room_body {
    display: flex;
    flex-direction: row;
    width: calc(738px + 522px + 20px + 20px);
    height: calc(828px + 20px);
}
.room_body_left {
    display: flex;
    flex-direction: column;
    width: 738px;
    height: calc(828px + 20px);
}
.room_body_left_top {
    width: 738px;
    height: 388px;
    border-radius: 10px;
}
.room_body_left_bottom {
    width: 738px;
    height: 420px;
    border-radius: 10px;
}
.room_body_right {
    display: flex;
    flex-direction: column;
    width: 522px;
    height: calc(828px + 20px);
    margin-left: 20px;
}